
*.asv

*.log

*.gz

Final Project/PhotoSorter_images/
Final Project/out/
Final Project/PhotoSorter_images_orig/

Final Project/__pycache__/

Final Project/.idea/

Final Project/output/

Final Project/features.pickle

Final Project/matches.pickle
Final Project/report/Final Project Report.out
Final Project/report/Final Project Report.aux
